/* Start Global Rules */
:root {
    /* --primary: #0d152c; */
    --primary: #274081;
    --primary-hover: #274081b3;
    /* --secondary: #5F656F; */
    --secondary: #d0b625;
    --light: #F5F5F5;
    --dark: #100f0f;
    /* --bg-dark : #2c3242;  */
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: var(--primary); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-hover); 
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--primary) #f1f1f1;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

h1,
h2,
.h1,
.h2,
.fw-bold {
    font-weight: 700 !important;
}

h3,
h4,
.h3,
.h4,
.fw-medium {
    font-weight: 600 !important;
}

h5,
h6,
.h5,
.h6,
.fw-semi-bold {
    font-weight: 500 !important;
}
body {
  font-family: "Inter", sans-serif;
}
html, body {
  overflow-x: hidden;
}
/* End Global Rules */


/* Start Spinner */
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}
/* End Spinner */

/* Start Button */
.btn {
    transition: .5s;
    font-weight: 500;
}
.btn-primary,
.btn-outline-primary:hover {
    color: #FFFFFF;
    background-color: var(--primary);
    border-color: var(--primary);
}
.btn-primary:hover{
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
    color: var(--light);
}
.btn-square {
    width: 38px;
    height: 38px;
}
.btn-sm-square {
    width: 32px;
    height: 32px;
}
.btn-lg-square {
    width: 48px;
    height: 48px;
}
.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}
/* End Button */


/* Start Navbar */
.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}
.navbar .logo{
    width: 60px;
}
.navbar img.name{
    height: 35px;
}
.dropdown-menu {
    display: none;
    border-radius: 0.5rem;
}

@media (min-width: 992px) {
  .navbar .dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .navbar .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease;
    margin-top: 0;
    border-radius: 0.5rem;
  }
}
.dropdown-menu .dropdown-item {
  padding: 10px 20px;
}

.text-start .land-text{
    font-size: 35px;
}
.land-btn{
    background-color: var(--primary);
    border-color: var(--primary);
    border-radius: 2rem;
}
.land-btn:hover{
    background-color: var(--primary-hover);
    border-color: var(--primary);
}
.navbar .navbar-brand {
    position: relative;
    padding-right: 50px;
    height: 75px;
    display: flex;
    align-items: center;
}
.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 20px 0;
    color: var(--dark);
    font-size: 18px;
    font-weight: 500;
    outline: none;
}

@media (min-width:991.99px) and (max-width: 1150px){
    .navbar .navbar-nav .nav-link {
        margin-right: 18px;
        font-size: 16px;
    }
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

ul.switch{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

  .switch {
    position: relative;
    display: inline-block;
    align-self: center;
    padding: 0 !important;
    display: flex;
    align-items: center;
  }
  @media (max-width: 991.98px) {
    ul.switch{
        margin-top: 10px;
        align-self: flex-start;
    }
  }
  .switch > li {
    position: absolute;
    pointer-events: none;
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    width: 50%;
    text-align: center;
  }
  input.check-toggle-round-flat:checked ~ .en {
    color: var(--primary);
  }
  input.check-toggle-round-flat:checked ~ .ar {
    color: #fff;
  }
  .switch > li.ar {
    left: 0;
    padding-left: 5px;
    color: var(--primary);
    font-size: 17px;
    height: 30px;
    line-height: 28px;
  }
  @media (max-width:991.98px) {
    .switch > li.on{
        line-height: 26px;
    }
  }
  .switch > li.en {
    right: 0;
    padding-right: 7px;
    color: #fff;
    height: 30px;
    line-height: 30px;
  }
  .check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
  .check-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  input.check-toggle-round-flat + label {
    padding: 2px;
    width: 81px;
    height: 30px;
    background-color: var(--primary);
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
  }
  
  input.check-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: var(--primary);
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:after {
    top: 3px;
    left: 4px;
    bottom: 3px;
    width: 40px;
    background-color: #fff;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s;
  }
  input.check-toggle-round-flat:checked + label:after {
    margin-left: 33px;
  }
/* End Navbar */


/* Start Header */
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, rgb(38, 65, 110, .8) 0%, rgba(2, 36, 91, 0) 100%);
    z-index: 1;
}
.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--primary);
    border: 15px solid var(--primary);
    border-radius: 3.5rem;
}

@media (max-width: 767px) {
    .carousel-control-prev-icon, .carousel-control-next-icon{
        width: 3rem;
        height: 3rem;
        border-radius: 3rem;
    }
}
#header-carousel .carousel-inner{
    height: 100vh;
    padding-top: 75px;
}
.header-carousel .carousel-item {
    height: 100%;
    overflow: hidden;
}
#header-carousel .carousel-item img{
    height: 100vh;
}

@media (max-width: 767px) {
    .carousel-inner{
        height: 450px;
    }
    #header-carousel .carousel-item img {
        height: 450px;
    }
}

#header-carousel .text-start p{
    font-size: 20px;
}
#header-carousel .text-start a{
    padding: 15px 40px;
}
@media (max-width: 400px) {
    #header-carousel .text-start{
        padding-inline: 3rem;

    }
    #header-carousel .text-start h1{
        font-size: 22px;
    }
    #header-carousel .text-start p{
        font-size: 15px;
    }
}

@media (min-width: 401px) and (max-width: 767px) {
    #header-carousel .text-start{
        padding-inline: 4rem;
    }
    #header-carousel .text-start h1{
        font-size: 24px;
    }
    #header-carousel .text-start p{
        font-size: 16px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #header-carousel .text-start{
        padding-inline: 6rem;
    }
}

@media (max-width: 767px) {
    #header-carousel .text-start a{
        padding: 10px 15px;
    }
}

.page-header {
    background: linear-gradient(to right, rgb(38, 65, 110, .8) 0%, rgba(2, 36, 91, 0) 100%), url(../img/about-us.jpg) center center no-repeat;
    background-size: cover;
    margin-top: 75px;
}
.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}
.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
    font-size: 18px;
    color: var(--light);
}
/* End Header */


/* Start About */
.about .about-img{
    border-radius: .25rem;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
}
.about h5{
    font-size: 18px;
}

@media (max-width: 768px) {
    .about .about-contact .mail{
        margin-bottom: 30px;
    }
}
/* End About  */


/* Start Services Section */
.services{
    background-color: #ececec;
}
.services .card{
    box-shadow: 0 2px 15px rgb(0, 0, 0 ,10%);
    background-color: white;
    border-radius: .25rem;
    overflow: hidden;
    transition: transform .3s , box-shadow .3s;
    position: relative;
}
.services .card:hover{
    transform: translateY(-10px);
}
.services img{
    max-width: 100%;
    height: 200px;
}

.arrow-link i {
    transition: transform 0.3s ease;
}

.services .card:hover .arrow-link i {
    animation: moving-arrow 0.6s linear infinite;
}

@keyframes moving-arrow {
    100% {
    transform: translateX(10px);
    }
}
.services .card-foot{
    padding: 1rem;
    border-radius: .25rem;
}
/* End Services Section */


/* Start Experince Section */
.experince{
    background-color: #ececec;
}
.experince .exp-img{
    border-radius: .25rem;
}
.experince .box{
    position: relative;
    z-index: 2;
    border-radius: .25rem;
    border: 1px solid white;
}
.experince .box::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    background-color: #ededed;
    transition: .3s;
    z-index: -1;
}
.experince .box:hover::before{
    width: 100%;
    height: 100%;
}
/* End Experince Section */


/* Start Our Clients */
.clients{
    margin-bottom: 100px;
}
.clients p{
    font-size: 20px;
}
.clients-carousel {
    position: relative;
}
.client {
    position: relative;
    display: block;
}
.client img {
    height: 350px;
    transition: filter 0.3s ease, transform 0.3s ease;
    object-fit: cover;
}
@media (max-width: 767px) {
    .client img{
        height: 300px;
    }
}
.clients-carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 45px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    transition: .3s;
    opacity: 0;
    z-index: 1;
}
.clients-carousel:hover .owl-nav {
    opacity: 1;
}
.clients-carousel .owl-nav .owl-prev,
.clients-carousel .owl-nav .owl-next {
    margin: 0 30px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 45px;
    font-size: 22px;
    transition: .5s;
}
.owl-item img{
    filter: grayscale(100%);
    transform: scale(1.01);
}
.owl-item.center img{
    filter: grayscale(0%);
}
/* End Our Clients */


/* Start Facts */
.facts {
    position: relative;
    margin: 6rem 0;
    margin-top: 180px;
    background-color: var(--primary);
    color: #fff;
}
.facts .border {
    border-color: rgba(255, 255, 255, .1) !important;
}
/* End Facts */


/* Start Products */
.product-item {
    position: relative;
    margin: 65px 0 25px 0;
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}
.product-item img{
    height: 300px;
    width: 100%;
}
.product-title{
    padding: 20px 0;
}
.product-title h3{
    font-size: 1.25rem;
    color: var(--primary);
}
.product-item .btn {
    position: absolute;
    width: 200px;
    height: 60px;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border: none;
    box-shadow: 0 0 45px rgba(0, 0, 0, .09);
    z-index: 2;
    line-height: 1.6;
    font-size: 18px;
    border-radius: .25rem;
}
.product-item .btn:hover {
    color: var(--primary);
    background: #FFFFFF;
}
/* End Products */


/* Start Projects */
.projects h2{
    color: var(--primary);
}
.projects .project-data{
    margin-bottom: 120px;
}
.projects .main-img {
    position: relative;
    text-align: center;
}
.projects .main-img img{
    max-height: 650px;
    width: 70%;
    position: relative;
}
.projects .project-info {
    width: 70%;
    margin: 20px auto 0;
    font-size: 18px;
}
@media (max-width: 768px) {
    .projects .main-img img{
        width: 90%;
        height: auto;
    }
    .projects .project-info {
        width: 90%;
        font-size: 16px;
    }
}

.projects .main-img .title-project{
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: var(--primary);
    padding: 15px 30px;
    transform: translate(-50%, 50%);
    transform: translateX(-50%);
    border-radius: 5px;
}
.projects .main-img .title-project h4{
    color: white;
    margin-bottom: 0;
}
/* End Projects */


/* Start Clients Page */
.clients-page p{
    color: var(--primary);
    font-weight: 500;
    font-size: 1.1rem;
}
/* End Cliets Page */


/* Start Category Description */
.category-description .desc-title{
    color: var(--primary);
    margin-bottom: 40px;
}
.category-description .desc-title.two{
    margin-bottom: 80px;
    margin-top: 70px;
}
.desc-imgs .img{
    position: relative;
    margin-bottom: 120px;
    text-align: center;
}
.desc-imgs .img img{
    width: 70%;
    max-height: 650px;
}
@media (max-width: 768px) {
    .desc-imgs .img img{
        width: 90%;
        height: auto;
    }
}

.desc-imgs .img .title{
    position: absolute;
    top: 0;
    left: 50%;
    background-color: var(--primary);
    padding: 15px 30px;
    transform: translate(-50%,-50%);
    border-radius: 5px;
}
.desc-imgs .img .title h4{
    margin-bottom: 0;
    color: white;
}

.category-description .img-sec{
    margin-top: 60px;
}
/* End Category Description */


/* Start Project Description */
.project-description .project-desc-info  h3{
    color: var(--primary);
}
.project-description .project-desc-info p{
    max-width: 380px;
}
@media (max-width: 575px) {
    .project-description .project-desc-info  p{
        max-width: 280px;
    }
}
.project-desc-img  img{
    height: 250px;
}

.slider .project-desc-img:hover img,
.slider .clients-carousel .owl-item.center img {
    margin-top: 0px;
}
/* End Project Description */


/* Start Footer & copyright */
.footer {
    background-color: #ececec;
}
.footer img{
    width: 120px;
}
.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
    color: #727271
}
.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}
.footer .btn.btn-link:hover {
    box-shadow: none;
    transform: translateX(10px);
    color: var(--primary);
}
.footer .address i{
    position: relative;
    top: 4px;
}
.footer img.name{
    height: 40px;
}
.cer-img{
    width: 80px;
    height: 120px;
    margin: 5px;
}
.copyright {
    background-color: #ddd;
    font-size: 15px;
}
/* End Footer & copyright */

/* Start Contact */
.contact-card{
    border-radius: .25rem;
}
.card-btn{
    border-radius: .25rem;
}
/* End Contact */


/* Start Projects Page */
.project-box .carousel,
.project-box .carousel-inner,
.project-box .carousel-item{
    max-height: 100%;
    width: 100%;
}

.project-box img{
    height: 350px;
    border-radius: .25rem;
}
/* End Projects Page */

.faq-question {
  cursor: pointer;
  font-weight: 500;
}

.faq-icon {
  font-size: 1.5rem;
  font-weight: bold;
  user-select: none;
  transition: transform 0.3s;
}
